language: python
sudo: false
matrix:
  include:
   - python: 3.4
     env: TOXENV=py34
   - python: 3.5
     env: TOXENV=py35
   - python: 3.6
     env: TOXENV=py36
   - python: 3.7
     env: TOXENV=py37
     dist: xenial
     sudo: true
   - python: 3.7
     env: TOXENV=flake8
     dist: xenial
     sudo: true
install:
  - pip install tox
  - if test "$TOXENV" = py37 ; then pip install coveralls ; fi
script: tox
after_script:
  - if test "$TOXENV" = py37 ; then coveralls ; fi
