@import url("../basic.css");

table.docutils {
    border: none;
    border-collapse: none;
}

table.docutils th, 
table.docutils td
{
    border: none;
    border-collapse: none;
}

div.sidebar {
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    width: 100%;
    float: none;
}
